*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 500px;
  right: 0;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: end;
  #sp-btn {
    display: none;
  }
  .sp-nav {
    display: none;
  }
  nav {
    width: 500px;

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  width: 100%;

  .pc-nav li {
    list-style: none;
    display: inline;
    margin-right: 60px;
    a {
      text-decoration: none;
      color: #f13737ae;
      text-shadow: 2px 2px 2px white;
      font-size: 16pt;
    }
  }
}

div.intro {
  width: 100%;

  display: flex;
  justify-content: space-between;

  .intro-text {
    width: 50%;

    .intro-comment1 {
      margin-left: 25%;
      font-size: 24pt;
      text-align: left;
      width: 350px;
      height: 250px;
      line-height: 2;
    }
    .intro-comment2 {
      font-size: 12pt;
      margin-left: 25%;
      text-align: left;
      width: 450px;
      height: 200px;
      line-height: 2;

      letter-spacing: 0.1em;
    }
  }
  .hana-right {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }
}

.mv-container {
  position: relative;
  width: 100%;
  height: 85vh;
  .mv-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    --radius: 50% 20px;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    div {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .mv-text {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 380px;
    height: 200px;
    .mv-comment {
      color: white;
      width: 200px;
      font-weight: bold;
      margin: 0 auto;
    }
  }
}

.bg-flower1 {
  background: url(../img/bg_img01.jpg) no-repeat;
}
.bg-flower2 {
  background: url(../img/bg_img02.jpg) no-repeat;
}
.bg-flower3 {
  background: url(../img/bg_img03.jpg) no-repeat;
}
.bg-flower4 {
  background: url(../img/bg_img04.jpg) no-repeat;
}
.bg-flower1,
.bg-flower2,
.bg-flower3,
.bg-flower4 {
  width: 100%;
  height: 400px;

  background-attachment: fixed;
  background-size: cover;
}
.info {
  width: 100%;
  height: 800px;

  h2 {
    font-size: 20px;
    width: 100px;
    height: 30px;

    margin: 0 auto;
    letter-spacing: 0.2em;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .info-img {
    text-align: center;
    img {
      margin-right: 50px;
      width: 20%;
      height: 90%;
      object-fit: cover;
    }
  }
}
.hana-bottom {
  width: 100%;
  height: 800px;

  img {
    width: 20%;
    height: 90%;
    object-fit: contain;
    margin-left: 100px;
  }
}
.access {
  p {
    font-size: 20px;
    width: 100px;
    height: 30px;

    margin: 0 auto;
    letter-spacing: 0.2em;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .address-map {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    .address {
      letter-spacing: 0.1em;

      dt,
      dd {
        margin-bottom: 10px;
      }
      dd {
        margin-bottom: 10px;
        border-bottom: 1px dotted green;
      }
    }
  }
}
.school {
  width: 100%;
  height: 90vh;

  h2 {
    width: 200px;
    height: 2em;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .school-text {
    width: 70%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    .school-text-left,
    .school-text-right {
      width: 400px;
      height: 100%;
      text-align: center;
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
      dl {
        margin-top: 100px;
        text-align: left;
        dt {
          margin-bottom: 1em;
        }
      }
    }
    .school-text-right {
      img {
        margin-top: 100px;
      }
    }
  }
}
footer {
  width: 100%;
  height: 280px;
  text-align: center;

  img {
    width: 200px;
    height: 150px;
    object-fit: cover;

    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  header {
    width: 50px;
    .pc-nav {
      display: none;
    }
    #sp-btn {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      cursor: pointer;
      z-index: 10;
      span {
        width: 100%;
        height: 2px;
        background-color: #ccc;
        position: absolute;
        transition: all 0.5s;
      }
      span:nth-of-type(1) {
        top: 0;
      }
      span:nth-of-type(2) {
        top: 14px;
      }
      span:nth-of-type(3) {
        top: 28px;
      }
    }
    .sp-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      opacity: 90%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        width: 300px;
        height: 300px;

        li {
          list-style: none;
          font-size: 24px;
          text-align: center;
          margin-bottom: 2em;
        }
      }
    }

    .active {
      display: flex;
    }
    #sp-btn.btn-close {
      span:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: left;
      }
      span:nth-of-type(2) {
        display: none;
      }
      span:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }
  }
  div.intro {
    display: block;
    text-align: center;
  }
  .info {
    height: auto;

    .info-img {
      text-align: center;

      img {
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }
  .school {
    height: auto;
    .school-text {
      width: 100%;
      height: auto;
      display: block;
      .school-text-left,
      .school-text-right {
        width: 100%;
        height: auto;
        img {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
  .access {
    height: auto;
    .address-map {
      display: block;
      height: auto;
      iframe {
        display: none;
      }
    }
  }
}
